<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" contet="Official ReSearch Main Page">
    <meta name="keywords" content="ReSearch">

    <title>ReSearch. Connecting Minds</title>
    <link href="#" rel="shortcut icon">
    <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon' />

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- font-awesome EXTERNAL RESOURCE-->
    <link href="../resources/css/style.css" rel="stylesheet">
    <link href="../resources/css/responsive.css" rel="stylesheet">
    <!-- after style.css becouse style.css will be modified -->
</head>

<body>
    <!--================================================
        NAVBAR
    =================================================-->
    <!--Setup-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><strong>ReSearch</strong></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links Left-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#testimonies">Testimonies</a></li>
                <li class="nav-item"><a class="nav-link" href="#popular">Popular</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#opportunities">All Opportunities</a></li>
            </ul>
            <!-- Links Right-->
            <span class="navbar-nav form-inline">
                <li class="nav-item mr-auto"><a class="nav-link" href="login.html">Login</a></li>
                <li class="nav-item mr-auto"><a class="nav-link" href="registration.html">Sign Up</a></li>
                <li class="nav-item mr-auto"><a class="nav-link" href="#">Post</a></li>
                <li class="nav-item mr-auto"><i class="nav-icon fas fa-user-circle fa-2x" href="#"></i></li>
            </span>
        </div>
    </nav>

    <!--================================================
        HOME
    =================================================-->
    <section id="home">
        <div class="bg-parallax">
            <div id="home-content-box">
                <div id="home-heading">
                    <h1>Welcome</h1>
                    <h3>TO THE BEST PLACE TO FIND A RESEARCH OPPORTUNITY</h3>
                </div>
            </div>
        </div>
        <!--Arrow-->
        <div class="container">
            <!-- External code https://codepen.io/bewley/pen/revRQv -->
            <div class="arrow bounce"><i class="fas fa-chevron-down fa-4x"></i></div>
        </div>
    </section>
    
    <!--================================================
        About
    =================================================-->
    <section id="about">
        <!--White About Section-->
        <div id="about-text-1">
            <div id="about-title-1">
                <h3>We bring amazing people together to make amazing things happen.</h3>
                <br>
            </div>
            <p>We’re a diverse collective of thinkers and doers, continuously reimagining our products and practices to help people do what they love in new ways. That innovation is inspired by a shared commitment to great work — and to each other. Because learning from the people here means we’re learning from the best.</p>
        </div>
        <!--Blue About Section-->
        <div class="container about-row">
            <div class="row">
                <!--Text Box 1-->
                <div class="col-md-6 about-row-box">
                    <div id="about-row-box-title">
                        <h3>Find work where sentences start with “What if…?”</h3>
                        <br>
                    </div>
                    <p>Everyone here is an innovator, or an innovator-to-be. That’s how we create the kinds of products and experiences that few ever imagine. For example, engineers here developed frameworks that have transformed the speed and accuracy of medical research. Others figured out how people in wheelchairs can track their activity with trackers to promote their fitness. Our research teams revolutionized the industry by reinventing the entire connection experience.</p>
                </div>
                <!--Text Box 2-->
                <div class="col-md-6 about-row-box">
                    <div id="about-row-box-title">
                        <h3>Share an idea and watch it grow.</h3>
                        <br>
                    </div>
                    <p>Every new product, service, or feature we invent is the result of people working together to make each other’s ideas stronger. That happens here because every one of us strives toward a common goal — creating the best research experiences. Marvals in the product field are the hard work of of hundreds of experts who complement each other’s thinking. Multiply that effort across every feature in every revolutionary product. Collaboration is important here.</p>
                </div>
            </div>
        </div>
        <!--About Images 1 Broken-->
        <div class="container about-row">
            <div class="row">
                <div class="col-md-6 img-wrapper"><img src="../resources/img/bc1.jpg" class="img-responsive" alt="About Picture 1"></div>
                <div class="col-md-6 img-wrapper"><img src="../resources/img/bc1.jpg" class="img-responsive" alt="About Picture 2"></div>
            </div>
        </div>
    </section>
    
    <!--================================================
        Testimonies
    =================================================-->
    <section id="testimonies">
        <div class="container exteneded-row">
            <br><br>
            <h2>Testimonies</h2>
            <br>
            <div class="row">
                <!--Text Block 1-->
                <div class="col-md-3 testimonie-textbox">
                    <div id="testimonie-title">
                        <h3>Emily Brown - Graduate Student</h3>
                    </div>
                    <br>
                    <p>"ReSearch is heaven on earth for the academic who still likes to have a well-delivered challenge. I feel extremely challenged in my research and learn from top-notch faculty, all preparing me well for professional school and a rewarding carrier."</p>
                </div>
                <!--Text Block 2-->
                <div class="col-md-3 testimonie-textbox">
                    <div id="testimonie-title">
                        <h3>Toby Smith - Undergraduate Student</h3>
                    </div>
                    <br>
                    <p>"Really beautiful and great website. Very researched based. You are given many opportunities to join in and get involved. Thanks to this website I was able to join a research team in Boulder. Weather is great in the summer with lots to do outside. I am a geologist and there is so much to look at."</p>
                </div>
                <!--Text Block 3-->
                <div class="col-md-3 testimonie-textbox">
                    <div id="testimonie-title">
                        <h3>Amit Kumar - Undergraduate Student</h3>
                    </div>
                    <br>
                    <p>"I met Bob on this website. He knows what he does as well as any expert out there and has taught it to students for years alongside bits of fascinating trivia and accessory knowledge. His assignments are enjoyable, though the math is frustrating. Thanks to him I have developed a geological intuition."</p>
                </div>
                <!--Text Block 4-->
                <div class="col-md-3 testimonie-textbox">
                    <div id="testimonie-title">
                        <h3>Robert Anderson - Research Professor</h3>
                    </div>
                    <br>
                    <p>"Everyone here is an innovator, or an innovator-to-be. That’s how we create the kinds of products and experiences that few ever imagine. For example, engineers here have developed frameworks that have transformed the speed and accuracy of medical research."</p>
                </div>
            </div>
            <br>
            <br>
            <!--Testimonies Image 1 Broken-->
            <div class="row img-wrapper">
                <img src="../resources/img/bc2.jpg" class="row img-wrapper" alt="Testimonie Image">
                <br>
            </div>
        </div>
        <br>
    </section>
    
    <!--================================================
                    End
    =================================================-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../resources/js/custom.js"></script>

</body>

</html>