<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Michael Rogers">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="---">
    <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/> <!--Not sure we will want the cu logo here, but will act as a place holder for now-->
    <title>ReSearch Login</title>

    <link rel='icon' href='#' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   
    <link href="../resources/css/style.css" rel="stylesheet">
    <!-- Nav bar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='nav_bar'>
        <a class="navbar-brand" href="index.html"><strong>ReSearch</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Testimonies</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Popular</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Opportunities</a></li>
            </ul>
            <span class="navbar-nav form-inline">
                <li class="nav-item mr-auto"><a class="nav-link" href="login.html" id="login_link">Login</a></li>
                <li class="nav-item mr-auto"><a class="nav-link" href="registration.html" id="signin_link">Sign Up</a></li>
                <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="profile_link"><span class="fas fa-user-circle fa-lg"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile<i class="fas fa-user pull-right"></i></a></li>
                        <li id="post_link"><a href="post.html">Post<i id="post_icon" class="fas fa-edit pull-right"></i></a></li>
                        <li><a href="#contact">Contact<i class="fas fa-envelope pull-right"></i></a></li>
                        <li class="dropdown-divider"></li>
                        <li><a onclick="logout();">Logout<i class="fas fa-power-off pull-right"></i></a></li>
                    </ul>
                </li>
            </span>
        </div>
    </nav>

    <!-- Custom styles for this template -->
    <script type="text/javascript" src="../resources/js/login.js"></script>
    <link href="../resources/css/login.css" rel="stylesheet">
  </head>
  <body class="center text-center">

    <form onsubmit="event.preventDefault(); login(toHomepage);" class="form-signin" id="sign_in_form">
      <button class="btn btn-lg btn-primary" id="student-button" style="border-width: medium" onclick="event.preventDefault(); switchToStudent(); userType = 's';">Student Login</button>
      <br>
      <br>
      <button class="btn btn-lg btn-primary" id="researcher-button" onclick="event.preventDefault(); switchToResearcher(); userType = 'r';">Researcher Login</button>
      <br>
      <br>
      <!-- <label for="inputEmail" class="sr-only">Email address</label> --> <!-- Commented out to make the buttons work with the text box color -->
      <input id="email-field" type="email" name="inputEmail" class="form-control" placeholder="Student Email Address" required autofocus>
      <!-- <label for="inputPassword" class="sr-only">Password</label> --> <!-- Commented out to make the buttons work with the text box color -->
      <input id="password-field" type="password" name="inputPassword" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
      <a class="btn btn-lg btn-primary" href="registration.html">Register</a>
    </form>
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="../resources/js/login.js"></script>
  </body>
</html>
