html, body{
    height:100%; /* important to vertically align the container */
    margin:0;
    padding:0;
}

/* #login-form{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */

input[type=button] {
    background-color: #343a40; /* Green */
    border: none;
    border-radius: 8px;
    width: 120px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
